.filters-wrapper {
  flex-shrink: 0;
  width: var(--filters-width);
  padding: 15px 35px;
}

.filters .filter {
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.filters .filter label {
  display: block;
  margin-bottom: 8px;
}

@media screen and (max-width: 1023px) {
  .filters-wrapper {
    width: 100%;
    margin: 30px 0;
    padding: 0;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
  }

  .filters .filter {
    width: calc(50% - 10px);
  }

  .filters .filter:nth-child(2n + 1) {
    margin-right: 20px;
  }
}
